@model ttTVMS.Models.HotTickt

@{
    ViewBag.Title = "EditorTickets";
}

<h2>EditorTickets</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>HotTickt</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Hot_id)

        <div class="form-group">
            @Html.LabelFor(model => model.Hot_Ticket, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hot_Ticket)
                @Html.ValidationMessageFor(model => model.Hot_Ticket)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hot_Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hot_Email)
                @Html.ValidationMessageFor(model => model.Hot_Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hot_Tel, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hot_Tel)
                @Html.ValidationMessageFor(model => model.Hot_Tel)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hot_type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hot_type)
                @Html.ValidationMessageFor(model => model.Hot_type)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hot_Budget, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hot_Budget)
                @Html.ValidationMessageFor(model => model.Hot_Budget)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hot_Start, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hot_Start)
                @Html.ValidationMessageFor(model => model.Hot_Start)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hot_Finish, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hot_Finish)
                @Html.ValidationMessageFor(model => model.Hot_Finish)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hot_File, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hot_File)
                @Html.ValidationMessageFor(model => model.Hot_File)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hot_detile, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hot_detile)
                @Html.ValidationMessageFor(model => model.Hot_detile)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hot_Com, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hot_Com)
                @Html.ValidationMessageFor(model => model.Hot_Com)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
